cycler==0.11.0; python_version >= "3.7"
flexsea==7.2.6; python_version >= "3.7"
fonttools==4.32.0; python_version >= "3.7"
kiwisolver==1.4.2; python_version >= "3.7"
matplotlib==3.5.1; python_version >= "3.7"
numpy==1.22.3; python_version >= "3.8"
packaging==21.3; python_version >= "3.7"
pillow==9.1.0; python_version >= "3.7"
pyparsing==3.0.8; python_full_version >= "3.6.8" and python_version >= "3.7"
pyserial==3.5
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
pyyaml==5.4.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
scipy==1.8.0; python_version >= "3.8" and python_version < "3.11"
setuptools-scm==6.4.2; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
tornado==6.1; python_version >= "3.7"
